@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Source+Serif+Pro&display=swap');

.App {
  text-align: center;
  font-family: 'Source Serif Pro', serif;
}
.starWars{
  font-size: xx-large;
}
.container{
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 5px;

}
.Wrapper{
  width: 30%;
  border: grey solid 1px;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
 
}


.Wrapper:hover{
  background-color: #d1e095;
}
.Title{
  padding: 10px;
  font-size: 30px;
  margin: 5px;
  text-align: left;
}

.Info{
  text-align:left;
}

.btn-cards{
  color: palevioletred;
  font-size: 2em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid palevioletred;
  border-radius: 3px;

}

.btn-cards:hover{
  background-color: #44725f;
}

.title-link {
  text-decoration: none;
  color: #2e2d2b;
}